{% extends 'movies/base.html'%}
{% load static %}

{% block styles %}
    <link rel='stylesheet' type='text/scss' href='{%  static 'user/style.scss' %}'>
    <script src="{% static "user/scripts.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder">
                <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.username }}
                {{ form.email }}
                {{ form.password }}

		<button class="submit-btn" type="submit">Sign up</button>
        </form>
        </div>
		</div>

	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
            <form method="post" action="{% url 'login' %}">
			<div class="form-holder">
                    {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
			<button class="submit-btn" type="submit">Log in</button>
            </div>
            </form>
            </div>
        </div>
		</div>
	</div>
    </div>

{% endblock %}
