{% extends 'base.html' %}
{% block title %} Movies Add Form {% endblock %}

{% block content %}
    <div class="main">
        <h2 class="text-center">Edit: {{ movie.title }}</h2>
        <div class="error">{{ form.non_field_errors }}</div>
        <div class="form-row">
            <div class="form-group col-md-6">
        <form method="post" enctype="multipart/form-data" action={% url 'movie_edit' name=movie.title %}>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {% if field.errors %} border border-danger {% endif %}">
                    <div class="error">{{ field.errors }}</div>
                    {{ field.label_tag }} <br>
                    {{ field }}
                </div>
            {% endfor %}
        <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
         <form method="post" action={% url 'movie_delete' name=movie.title %}>
                     {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
         </form>
    </div>
        </div>
    </div>
{% endblock %}
