{% extends 'movies/base.html' %}
{% block title %} IMDb - {{ name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> {{ name }} </h1>
                <p> {{ date }}</p>
            </div>
            <div class="col-md-6">
                <p style="text-align: right">
                    rate: {{ rate }}
                    your rating: <form method="post"> {% csrf_token %} {{ rate_form.as_p }}</form>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <img src="{{ image }}" style="width: 30%">
            </div>
            <div class="col-md">
                <iframe src="https://www.youtube.com/watch?v=z02Ie8wKKRg" height="240" style="text-align: left">
                </iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                {% for g in genrs %}
                    <button type="button">{{ g.title }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ description }}
            </div>
        </div>
        <br>
        <h4> comments:</h4><br>
        {% for comment in comments %}
            <h4> {{ comment.user }}</h4>
            <p> {{ comment.comment_body }}</p>
        {% endfor %}
    </div>

    <div>
        <form method="post" action="{% url "movie_detail" name %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary" name="comment" value="comment"> Submit</button>
        </form>
    </div>
{% endblock %}