{% extends 'movies/base.html' %}
{% block title %} Movies List {% endblock %}

{% block content %}
<div class="content">
<div class="row">
    {% for movie in movies %}
 <div class="col-sm-4 text-center-card">
                    <img src="{{ movie.image_link }}" class="rounded" alt={{movie.title}} style="width:70%"/>
                    <h4> {{movie.title}}</h4>
                    <h6>★{{ movie.rate }}</h6>
                    <a href="{% url 'movie_detail' name=movie.title%}"><button type="button" class="btn btn-warning" style="margin-bottom: 20%;">Movie page</button></a>
              </div>
    {% endfor %}

    </div>
</div>
{% endblock %}
