{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
{#    <script src="{% static 'user/script.js' %}"></script>#}
{% endblock %}
{% block content %}


<!-- partial:index.partial.html -->
<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder">
        <form method="post" action="{% url 'authentication' %}">
            {% csrf_token %}
            {{ register_form.username }}
            {{ register_form.email }}
            {{ register_form.password }}
		<button class="submit-btn" type="submit" name="submit" value="sign_up">Sign up</button>
        </form>
        </div>
	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<div class="form-holder">
                <form action="{% url 'authentication' %}" method="post">
                {% csrf_token %}
                {{ login_form.username }}
                {{ login_form.password }}
			<button class="submit-btn" type="submit" name="submit" value="sign_in">Log in</button>
            </form>
                </div>
		</div>
	</div>
</div>
<!-- partial -->
  <script  src="{% static 'user/script.js' %}"></script>


{% endblock %}
